header{
    padding: 150px;
    text-align: center;
    background: $jelly-bean;
    color: $white;
    h2{
        font-weight: $extra-light;
        font-size: $xlarge;
        padding: 0;
    }
    h1{
        font-weight: $bold;
        font-size: $xlarge;
        padding: 0;
    }
}