.info{
    .panel{
        text-align: center;
        background: $jelly-bean;
        color: $white;
        font-weight: $regular;
        font-size: $large;
        padding: 50px;
    }
    .info__nosotros{
        padding: 50px;
        text-align: center;
        color: $gray;
        background: $fondo;
    }
    
}